body {
    max-width: 70%;
    margin: auto;
}

.container {
    display: flex;
    flex-direction: row;
}

.content-contaienr {
    flex: 0.7
}

.logs-container {
    flex: 0.3
}

.logs-container textarea {
    width: 100%;
    height: 100%;
}

input {
    padding: 5px 10px;
}

.NE-block {
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}

.NE-block input {
    border-radius: 5px;
    padding: 8px 5px;
}

.NE-block label {
    margin: 0px 5px 0px 15px
}

.submit-btn {
    flex: 1;
    background-color: #1c1cc5;
    color: white;
    font-size: larger;
}

.long-text-edt {
    flex: 1;
}

.ne input {
    border: 2px solid #D82148;
}

.dm input {
    border: 2px solid #6EBF8B;
}
.dm{
    margin-top: 30px;
}
.pqphi input {
    border: 2px solid #DADBBD;
}
label{
    padding: 8px 0px;
}