<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Mathematical methods in informatics</title>
    <link rel="stylesheet" href="./main.css">
</head>

<body>

    <div class="container">
        <div class="content-contaienr">
            <div>
                <form action="/" method="get">
                    <div class="NE-block ne">

                        <label for="n">n</label>
                        <input type="n" id="n" name="n" value={{n}}>

                        <label for="e">e</label>
                        <input type="text" id="e" name="e" value="{{e}}">

                        <label for="c">Cipher</label> <input class="long-text-edt" type="text" id="c" name="c" value={{c}}><br>


                    </div>
                    </br>
                    <div class="NE-block">

                        <div>
                            <label for="primality">Choose a algorithm to primality check:</label>

                            <select name="primality" id="primality" value="{{check_str}}">
                        <option value="bruteforce" {% if check_str == "bruteforce"%} selected{%endif%} >Brute force</option>
                        <option value="rabinmiller" {% if check_str == "rabinmiller"%} selected{%endif%}  >Rabin Miller</option>
                    </select>
                            <br/>
                            <label for="factorization">Choose a algorithm to factorization:</label>

                            <select name="factorization" id="factorization" value="{{factor_str}}">
                        <option value="lenstra"  {% if factor_str == "lenstra"%} selected{%endif%}>Lenstra</option>
                        <option value="pollard"  {% if factor_str == "pollard"%} selected{%endif%}>Pollard</option>
                        <option value="pollard_rho"  {% if factor_str == "pollard_rho"%} selected{%endif%}>Pollard_Rho</option>
                    </select>
                        </div>

                        <input class="submit-btn" type="submit" value="Run">
                    </div>

                </form>
            </div>
            <div class="NE-block pqphi">
                <label for="p">p</label> <input readonly type="text" id="p" name="p" value="{% if p %}{{p}}{% endif %}"><br/>
                <label for="q">q</label> <input readonly type="text" id="q" name="q" value="{% if q %}{{q}}{% endif %}">
                <label for="phi">&Phi;</label> <input readonly type="text" id="phi" name="phi" value="{% if phi %}{{phi}}{% endif %}">

            </div>
            <div class="NE-block dm">
                <label for="d">d</label> <input readonly type="text" id="d" name="d" value="{% if d %}{{d}}{% endif %}"><br/>
                <label for="m">Message</label> <br/><input class="long-text-edt" readonly type="text" id="m" name="m" value="{% if m %}{{m}}{% endif %}">
            </div>
        </div>
        <div class="logs-container">
            <h3 style="margin: 0;">Logs</h3>
            <textarea readonly>{% for item in logs %}{{ item|safe  }}&#010;{% endfor %}</textarea>
        </div>
    </div>
</body>

</html>
